.login-container {
    width: 300px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}